@using OnlineTicketManagementSystem.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
 
 <div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>

        <form asp-action="Register" method="post">
            <div  asp-validation-summary="ModelOnly" class=" text-danger"></div>
                <div class="mb-3">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
              </div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
            <div class="mb-3">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" asp-items="ViewBag.Companies" class="form-select">
                    <option value="">-- Select Company --</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-select">
                    <option value="">-- Select Role --</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="REGISTER" class="btn btn-success w-100 p-2 mt-3" />
            <div class="text-center mt-3 ">
                <a  asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3 ">Back</a>
            </div>
        </form>
    </div>
 </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
